body {
    background-color: #EEF1FF;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}

h1 {
    color: #B1B2FF;
}

h3 {
    color: #AAC4FF;
}